.fullProfile {
    /* background-image: url("https://cdn.wallpapersafari.com/56/22/C8FLY7.jpg"); */
    background-image: url("https://st2.depositphotos.com/1822734/5971/v/950/depositphotos_59717453-stock-illustration-autumn-tree.jpg");
    padding: 10px;
    background-size: contain;
    width: 100%;
}

.myProfilePicture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pictureCircle {
    background-color: rgb(185, 182, 182);
    background-image: url("https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    border-style: solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.myProfile {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    margin: 50px 100px;
}

.userHeader h3 {
    font-size: 30px;
    color: white;
    background-color: rgb(253, 99, 61);
    border-style: solid;
    border-width: thick;
    border-color: rgb(117, 56, 15);
}

.userBlogs div {
    border-width: 4px 1.25em;
    border-color: rgb(117, 56, 15);
}

.userBlogs h2 {
    text-align: left;
    color: white;
    background-color: rgb(41, 122, 16);
    /* border-bottom: solid; */
    border-style: solid;
    border-color: rgb(117, 56, 15);
    border-width: thick;
    margin: 0 30px;
    padding: 10px;
}

.backToDashboard button {
    text-align: left;
    border-style: solid;
    color: rgb(116, 113, 113);
    background-color: rgb(237, 245, 164);
    font-family: 'Fira Sans', sans-serif;
    padding: 6px;
    margin: 10px 10px;
}

@media (max-width: 1700px) {
    .myProfile {
        margin: 4% 25%;
    }
}

@media (max-width: 1430px) {
    .myProfile {
        margin: 4% 20%;
    }
}

@media (max-width: 1250px) {
    .myProfile {
        margin: 4% 15%;
    }
}

@media (max-width: 800px) {
    .myProfile {
        margin: 2% 1%;
    }
}

@media (max-width: 650px) {
    .myProfile {
        margin: 2% 1%;
    }
}

/* 
@media (max-width: 1700px) {
    .fullProfile {
        margin: 10px 350px;
    }
}

@media (max-width: 1475px) {
    .fullProfile {
        margin: 10px 200px;
    }
}

@media (max-width: 1430px) {
    .fullProfile {
        margin: 10px 150px;
    }
}

@media (max-width: 1250px) {
    .fullProfile {
        margin: 10px 100px;
    }
}

@media (max-width: 1100px) {
    .fullProfile {
        margin: 10px 50px;
    }
}

@media (max-width: 800px) {
    .fullProfile {
        margin: 10px 30px;
    }
    .myProfile {
        margin: 20px 20px;
    }
    .userBlogs h2 {
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .fullProfile {
        margin: 0 0;
    }
    .myProfile {
        margin: 0 0;
    }
    .userBlogs h2 {
        margin-left: 0;
    }
} */