.blogs {
    background-color: white;
    border-style: solid;
    font-family: 'Fira Sans', sans-serif;
    margin: 10px 50px;
}

.blogUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.blog {
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
    padding: 0 20px;
}

.commentsText p {
    text-align: left;
    padding-left: 30px;
}

.addComment input {
    border-style: solid;
    padding: 10px;
    width: 50%;
}

.addComment button {
    border-style: solid;
    color: white;
    background-color: rgb(199, 149, 91);
    font-family: 'Fira Sans', sans-serif;
    padding: 12px;
}

.addCommentText p {
    text-align: left;
    padding-left: 60px;
}