.commentsEntry {
    background-color: rgb(226, 221, 221);
    border-style: solid;
    border-radius: 20px;
    margin: 10px 50px;
    font-family: 'Fira Sans', sans-serif;
}

.commentsUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.commentText p {
    text-align: left;
    padding: 0 40px;
}

.commentLikes p {
    text-align: right;
    padding: 0 20px;
}

.updateDeleteComment {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.updateComment button {
    border-style: solid;
    color: rgb(145, 140, 140);
    background-color: rgb(237, 245, 164);
    font-family: 'Fira Sans', sans-serif;
    padding: 4px;
    margin: 4px 10px;
}

.deleteComment {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deleteComment button {
    border-style: solid;
    color: rgb(145, 140, 140);
    background-color: rgb(241, 156, 134);
    font-family: 'Fira Sans', sans-serif;
    padding: 4px;
    margin: 4px 10px;
}

