.fullDashboard {
    background-image: url("https://imgc.allpostersimages.com/img/posters/spring-branch-with-fresh-green-leaves-isolated-on-white-background_u-L-Q103Y680.jpg?artHeight=550&artPerspective=n&artWidth=550&background=ffffff");
    padding: 10px;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.dashboard {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.createPost {
    background-color: rgba(252, 231, 192, 0.856); 
    border-style: solid;
    margin: 10px 130px;
}

.createPost h2 {
    text-align: left;
    background-color: rgb(46, 151, 53);
    color: white;
    font-size: 26px;
    padding-left: 40px;
}

.createPost input {
    border-style: solid;
    padding: 10px;
    width: 80%;
}

.createPost button {
    border-style: solid;
    color: white;
    background-color: rgb(139, 87, 27);
    font-family: 'Fira Sans', sans-serif;
    padding: 14px;
}

.mainFeed {
    background-color: rgba(252, 231, 192, 0.856); 
    border-style: solid;
    border-width: 4px 1.25em;
    border-color: rgb(117, 56, 15);
    margin: 10px 100px;
}

.mainFeed h2 {
    text-align: left;
    font-size: 30px;
    background-color: rgb(190, 119, 53);
    color: white;
    padding-left: 40px;
}

.navBar {
    text-align: right;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding-right: 10px;
}

.profileLink {
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
    padding-right: 10px;
}

.myProfileButton {
    text-align: right;
    padding-right: 10px;
    margin: 4px;
}

.myProfileButton button {
    border-style: solid;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 148, 77);
    font-family: 'Fira Sans', sans-serif;
    padding: 6px;
}

.logOut {
    text-align: right;
    padding-right: 10px;
}

.logOut button {
    border-style: solid;
    color: white;
    background-color: rgb(35, 41, 95);
    font-family: 'Fira Sans', sans-serif;
    padding: 6px;
    margin: 4px;
}

@media (max-width: 1700px) {
    .createPost {
        margin: 10px 500px;
    }
    .mainFeed {
        margin: 10px 425px;
    }
}

@media (max-width: 1430px) {
    .createPost {
        margin: 10px 250px;
    }
    .mainFeed {
        margin: 10px 225px;
    }
}

@media (max-width: 1250px) {
    .createPost {
        margin: 10px 200px;
    }
    .mainFeed {
        margin: 10px 175px;
    }
}

@media (max-width: 1100px) {
    .createPost {
        margin: 10px 150px;
    }
    .mainFeed {
        margin: 10px 125px;
    }
}

@media (max-width: 800px) {
    .createPost {
        margin: 10px 40px;
    }
    .mainFeed {
        margin: 10px 30px;
    }
}

@media (max-width: 650px) {
    .createPost {
        margin: 10px 10px;
    }
    .mainFeed {
        margin: 0 0;
    }
}