.fullForgotPassword {
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Maitree', serif;
    height: 100%;
    width: 100%;
    /* margin: 50px 200px; */
}

.forgotPassword {
    background-color: rgba(252, 231, 192, 0.856);
    border-style: solid;
    border-radius: 100px;
    border-color: rgb(199, 149, 91);
    border-width: 1em;
    /* margin: 50px 200px; */
    margin: 20% 10%;
    padding: 50px;
}

.forgotPassword h2 {
    text-align: center;
    color: rgb(163, 104, 36);
    font-size: 28px;
    margin-top: 4px;
}