body {
    background-color: rgb(201, 248, 201);
}

.signUp {
    background-color: rgba(252, 231, 192, 0.856);
    border-style: solid;
    border-color: rgb(199, 149, 91);
    border-width: thick;
    border-radius: 20px;
    text-align: center;
    margin: 50px 200px;
    padding: 30px;
}